.privacy-policy-wrapper {
  padding: 30px;
  background: #fff;

  .pv-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
    h3 {
      font-size: 52px;
    }
  }
  h3 {
    font-size: 32px;
    font-family: "Poppins" !important;
    font-weight: 600;
    align-self: flex-start;
  }
  p {
    font-family: "Poppins" !important;
    font-size: 20px;
    font-weight: 400;
    margin: 0 !important;
  }
  b {
    font-family: "Poppins" !important;
    font-size: 20px;
    font-weight: 600;
    margin: 0 !important;
  }
  ul {
    margin-left: 40px;
  }
}
